extends layout
block javascript
    script(src='/socket.io/socket.io.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/javascript/client.js')
block content
    .container
        .row
            #board.col-xs-6
                table.center-table
        .row
            .col-xs-3
                .p1-score
                    p 1
            .col-xs-3
                .p2-score
                    p 2
        .row
            .form-group
                label(for="shareUrl").col-sm-3.control-label.share-label Share URL:
                .col-sm-9
                    input(type='text', data-room=share, name='shareUrl', value=shareURL ReadOnly).form-control