extends layout
block javascript
    script(src='/socket.io/socket.io.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/javascript/client.js')
block content
    .container
        .row2
            p.turn-indicator turn indicator
        .row
            #board.col-xs-6
                table.center-table
        .row
            .p1-score
                p 0
            .p2-score
                p 0
        .row
            .form-group
                label(for="shareUrl") Share this URL to your opponent:
                input(type='text', data-room=share, name='shareUrl', value=shareURL ReadOnly).form-control