<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>484 Connect 4</title>
    <!-- App styles  -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <!--Importing jquery-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!--This section right here is the client side socket-->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>This is the home page</h1>

</body>
</html>